

body
{
  margin: 0;
  padding: 0;
  background-color: #f1f3f5;
}


.btn{
  background-color:  #BD6E6E;
  color: #fff;
  font-size: 1.375rem;
  font-weight: 500;
 
}

.form-password{
  font-size: 1.375rem;  
  font-weight: 500;
  border-radius: 1.563rem;
}

.card{
  background-color: #76292A;
  height: 100vh;
  width: 320px;
}

.heading{
  color: #fff;
 
}

.nav{
  font-size: 1.375rem;
  
}